/*
 * Begin Table styles
 */

/* Repair seemingly broken pagination style */
.pagination > li > a {
  cursor: pointer;
}

.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}

/*
 * end table styles
 */

