<div class="row">
    <div class="col-md-4">
        <div class="">Total: {{totalRecords}}  <br/> {{perPage}} per page</div>
    </div>
    <div class="col-xs-8 col-md-8">
      {{!page-numbers currentPage=page totalPages=totalPages numPagesToShow=2 showFL=true}}
      {{pagination-pager
      count=totalPages
      current=page
      change='changePage'
      }}
    </div>
</div>