{{#if allowQuickSearch}}
<label style="margin-right: 10px;">
    <div class="input-group input-group-sm" style="width: 250px;">
        {{input type="text"
            class="form-control quickSearchInput"
            value=searchString
        }}
        <span class="input-group-btn">
            <button {{! action 'runQuickSearch'}} class="btn btn-primary btn-flat">
                {{fa-icon 'search'}}
            </button>
        </span>
    </div>
</label>
{{/if}}

<label style="margin-right: 10px;">Per Page:
  <div class="input-group input-group-sm">
    {{#x-select value=perPage class="form-control input-sm"}}
        {{#each perPageOptions as |option|}}
            {{#x-option value=option}}{{option}}{{/x-option}}
        {{/each}}
    {{/x-select}}
    <span class="input-group-btn">
      <button {{!action 'refresh'}} class="btn btn-sm btn-primary">
        {{fa-icon 'refresh'}}
      </button>
    </span>
  </div>
</label>
