    <label>Per Page:</label>
    {{x-select
    content=pageList
    optionValuePath="content"
    optionLabelPath="content"
    value=perPage
    class="form-control input-sm form-control-inline"}}
    <button {{action 'refresh'}} class="btn btn-sm btn-primary">{{fa-icon 'refresh'}}</button>
