<label>Per Page:</label>
{{#power-select
  searchEnabled=false
  allowClear=false
  selected=perPage
  options=pageList
  onchange=(action (mut perPage))
  triggerClass="form-control form-control-inline w-sm"
as |result|}}
  {{result}}
{{/power-select}}
<button {{action 'refresh'}} class="btn btn-sm btn-primary">{{fa-icon 'refresh'}}</button>
