<label>Per Page:</label>
{{#x-select value=perPage class="form-control input-sm form-control-inline" as |xs| }}
  {{#each pageList as |item|}}
    {{#xs.option value=item}}{{item}}{{/xs.option}}
  {{/each}}
{{/x-select}}
<button {{action 'refresh'}} class="btn btn-sm btn-primary">{{fa-icon 'refresh'}}</button>
