{{#each columns as |col|}}
    <td>{{pager-loop model=item field=col}}</td>
{{/each}}
<td class="clearfix">
    <span class="pull-right" style="margin-left:5px;">
        {{#link-to linkPath item.id class="btn btn-default btn-xs pull-right"}}
            {{fa-icon 'folder-open'}}
        {{/link-to}}
    </span>

    {{#if editPath}}
        {{#link-to editPath item.id class="btn btn-default btn-xs pull-right"}}
            {{fa-icon 'pencil'}}
        {{/link-to}}
    {{/if}}
</td>
