{{#each columns as |col|}}
    <td>{{pager-loop model=item field=col}}</td>
{{/each}}
<td class="clearfix">
    {{#link-to linkPath record.id class="btn btn-default btn-xs pull-right"}}
        {{fa-icon 'folder-open'}}
    {{/link-to}}
</td>
