{{#if column.tpColumn.workflowAssignedColumn}}
<a class="link" href="javascript:void();" {{action 'openModal'}}>
  {{if column.tpColumn.user column.tpColumn.user.fullName 'Select'}}
</a>
{{else}}
{{input type="text" class="form-control inline-column-filter" value=column.tpColumn.filterValue name=column.tpColumn.fieldName }}
{{/if}}
