<div class="pull-right">
  {{#power-select
    searchEnabled=false
    allowClear=false
    selected=perPage
    options=pageList
    onchange=(action (mut perPage))
    triggerClass="form-control w-sm"
  as |result|}}
    {{result}}
  {{/power-select}}
  <button {{action 'refresh'}} class="btn btn-sm btn-{{button}}">{{fa-icon 'refresh'}}</button>
</div>

