<div class="pull-right">
    <label>
      {{#x-select value=perPage class="form-control input-sm" as |xs|}}
        {{#each pageList as |item|}}
          {{#xs.option value=item}}{{item}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </label>
    <button {{action 'refresh'}} class="btn btn-sm btn-{{button}}">{{fa-icon 'refresh'}}</button>
</div>

