<div class="col-xs-4">
    <label>Per Page: <br/>
        {{view "select"
        content=pageList
        optionValuePath="content"
        optionLabelPath="content"
        value=perPage
        class="form-control input-sm"}}
    </label>
    <button {{action 'refresh'}} class="btn btn-sm btn-primary">{{fa-icon 'refresh'}}</button>
</div>