<div class="pull-right">
    <label>
      {{#x-select value=perPage class="form-control input-sm"}}
        {{#each pageList as |item|}}
          {{#x-option value=item}}{{item}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </label>
    <button {{action 'refresh'}} class="btn btn-sm btn-{{button}}">{{fa-icon 'refresh'}}</button>
</div>

