<div class="pull-right">
    <label>
        {{view "select"
        content=pageList
        optionValuePath="content"
        optionLabelPath="content"
        value=perPage
        class="form-control input-sm"}}
    </label>
    <button {{action 'refresh'}} class="btn btn-sm btn-{{button}}">{{fa-icon 'refresh'}}</button>
</div>

