{{#if quickSearchField}}
    <label>
        <div class="input-group input-group-sm">
            {{input type="text" class="form-control" value=quickSearch}}
            <span class="input-group-btn">
                <button {{action 'runQuickSearch'}}
                        class="btn btn-primary btn-flat">{{fa-icon 'search'}}</button>
            </span>
        </div>
    </label>
{{/if}}
