{{#if tableActions.linkPath}}
    {{#link-to tableActions.linkPath row.id class="btn btn-default btn-xs"}}
      {{fa-icon 'folder-open'}}
    {{/link-to}}
{{/if}}
{{#if tableActions.editPath}}
  {{#link-to tableActions.editPath row.id class="btn btn-default btn-xs"}}
    {{fa-icon 'pencil'}}
  {{/link-to}}
{{/if}}
{{#if tableActions.deleteAction}}
    <a {{action tableActions.deleteAction row.content}} class="btn btn-default btn-xs" href="#">
      {{fa-icon 'trash'}}
    </a>
{{/if}}

