{{#if tableActions.selectAllAction}}
    {{#if tableActions.customSelectAll}}
        <div style="margin-top:5px; display: inline-block; height:20px;">
            {{custom-checkbox checked=allChecked on-change=(action tableActions.selectAllAction allChecked) title="Select all on this page"}}
        </div>
    {{else}}
        <label>
            {{x-checkbox checked=allChecked on-change=(action tableActions.selectAllAction allChecked) title="Select all on this page"}}
        </label>
    {{/if}}
{{/if}}
{{#if tableActions.allowQuickSearch}}
<a href="#" {{action 'toggleFilters' bubbles=false}} title="Toggle quick filters" class=" table-action-buttons">
  <i class="fa fa-search"></i>
</a>
{{/if}}
