<!-- /.box-body -->
<div class="box-footer clearfix no-border">
    <div class="pull-right">
      {{!page-numbers currentPage=page totalPages=totalPages numPagesToShow=1 showFL=true}}
      {{pagination-pager
      count=totalPages
      current=page
      change='changePage'
      }}
    </div>
</div>