<div class="box-header">
    <h3 class="box-title"></h3>
    <div class="box-tools">
        <div class="btn-group pull-right">
            <button class="btn btn-default btn-xs">{{fa-icon "plus"}} Add</button>
        </div>
    </div>
</div>
<!-- /.box-header -->