<div class="box box-{{box}}">
  {{partial "table-pager/list/header"}}
    <div class="box-body">
        <ul class="todo-list">
          {{ partial "table-pager/list/row"}}
        </ul>
    </div>
  {{partial "table-pager/list/footer"}}
</div>
