{{#each model as |record|}}
    <li>
    <span class="text">
        {{#each columns as |col|}}
            {{pager-loop model=record field=col}}
        {{/each}}
    </span>
        <div class="tools">
            {{#link-to linkPath record}} {{fa-icon "folder-open-o"}} {{/link-to}}
        </div>
    </li>
{{else}}
    <li>no records found ... :-(</li>
{{/each}}