<div class="row">
    <div class="col-xs-6">
        <div class="">Total Records: {{totalRecords}}  |  Showing {{perPage}} per page</div>
    </div>
    <div class="col-xs-6">
        {{!page-numbers currentPage=page totalPages=totalPages numPagesToShow=3 showFL=true}}
        {{pagination-pager
            count=totalPages
            current=page
            change='changePage'
            }}
    </div>
</div>