<tbody>
{{#each record in this}}
    <tr>
        {{#each col in columns}}
            <td>{{pager-loop record col}}</td>
        {{/each}}
        <td class="clearfix">
            {{#link-to linkPath record.id class="btn btn-default btn-xs pull-right"}}
                {{fa-icon 'folder-open'}} 
            {{/link-to}}
        </td>
    </tr>
{{else}}
    <tr>no records found ... :-(</tr>
{{/each}}
</tbody>
