<tbody>
{{#each model as |record|}}
    <tr>
        {{#each columns as |col|}}
            <td>{{pager-loop model=record field=col}}</td>
        {{/each}}
        <td class="clearfix">
            {{#link-to linkPath record.id class="btn btn-default btn-xs pull-right"}}
                {{fa-icon 'folder-open'}} 
            {{/link-to}}
        </td>
    </tr>
{{else}}
    <tr>no records found ... :-(</tr>
{{/each}}
</tbody>
