<div class="row">
    <div class="col-md-7">
        {{partial "table-pager/table/widgets/quick-search"}}
        {{partial "table-pager/table/widgets/per-page"}}
    </div>

    <div class="col-xs-5 col-md-5">
        {{!page-numbers currentPage=page totalPages=totalPages numPagesToShow=3 showFL=true}}
        {{pagination-pager
            count=totalPages
            current=page
            change='changePage'
            }}
    </div>
</div>
