<h2 id="title">Welcome to ember-cli-table-pagination!</h2>
<p> check out our routes : </p>
<ul>
  <li>{{#link-to 'old'}}the old way{{/link-to}}</li>
  <li>{{#link-to 'index'}}the new way (under construction){{/link-to}}</li>
</ul>

{{outlet}}
