<div class="container">
<h2 id="title">ember-cli-table-pagination</h2>
<ul>
  <li>{{#link-to 'index'}}table-pagination{{/link-to}}</li>
  <li>{{#link-to 'bootstrap'}}bs-table-pagination{{/link-to}}</li>
  <li>{{#link-to 'lighttable'}}light-table-pagination{{/link-to}}</li>
</ul>
{{!-- <ul>
  <li>{{#link-to 'old'}}the old way{{/link-to}}</li>
  <li>{{#link-to 'index'}}the new way (under construction){{/link-to}}</li>
  <li>{{#link-to 'bootstrap'}}the new way with bootstrap (under construction){{/link-to}}</li>
  <li>{{#link-to 'bs-remote'}}the new way with bootstrap & backend (under construction){{/link-to}}</li>
</ul> --}}

{{outlet}}
</div>