<div class='content'>
  <h3> bs-table-pagination </h3>
  <div class="container">

    {{#bs-table-pagination
      content=items
      tableTitle="item table #1"
      fields=columns
      changePage=(action 'changePage')
      as |item|
    }}
      {{bs-table-pagination/table-row item=item columns=columns}}
    {{/bs-table-pagination}}

  </div>
</div>
