
<h3> table-pagination </h3>

{{#table-pagination
  content=items
  changePage=(action 'changePage')
  class="box box-12 box-top"
  tableTitle="item table #1"
  as |item|
}}
  <li>
    d: {{item.idNum}}, name: {{item.name}}, desc: {{item.description}}
  </li>
{{/table-pagination}}
